[Desktop Entry]
Encoding=UTF-8
Name=localtrade
Comment=localtrade P2P Cryptocurrency
Comment[fr]=localtrade, monnaie virtuelle cryptographique pair à pair
Comment[tr]=localtrade, eşten eşe kriptografik sanal para birimi
Exec=localtrade-qt %u
Terminal=false
Type=Application
Icon=localtrade128
MimeType=x-scheme-handler/localtrade;
Categories=Office;Finance;
