[Unit]
Description=localtrade's distributed currency daemon
After=network.target

[Service]
User=localtrade
Group=localtrade

Type=forking
PIDFile=/var/lib/localtraded/localtraded.pid

ExecStart=/usr/bin/localtraded -daemon -pid=/var/lib/localtraded/localtraded.pid \
          -conf=/etc/localtrade/localtrade.conf -datadir=/var/lib/localtraded

ExecStop=-/usr/bin/localtrade-cli -conf=/etc/localtrade/localtrade.conf \
         -datadir=/var/lib/localtraded stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
